@mixin monserat ($weight){
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: $weight;
}

@mixin lato ($weight){
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: $weight;
}

@mixin display ($display: flex, $jc: center, $ai: center) {
    display: $display;
    justify-content: $jc;
    align-items: $ai;
}
@mixin displayGrid($number: 1, $width: 1fr, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($number, $width);
    gap: $gap;
}